[user]
	name = Fabio Nacarelli
	email = 97247063+fnacarellidev@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	excludesfile = "~/.gitignore_global"
[push]
	autoSetupRemote = true
[alias]
	branchd = "!git branch -D \"$1\" #"
