* {
  font-family: 'FiraCode Nerd Font', monospace;
  font-size: 14px;
  font-weight: 500;
}

window {
  background-clip: padding-box;
  box-shadow: none;
  background-color: @crust;
  animation: slideIn 0.5s ease-in-out both;
}

@keyframes slideIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @crust;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

#outer-box {
  margin: 5px;
  padding: 10px;
  background-color: @crust;
  border: 3px solid @mauve;
  border-radius: 8px;
}

#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @crust;
}

#input.search {
  margin: 5px 20px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  color: @text;
  background-color: @base;
}

#input image {
    border: none;
    color: @peach;
}

#input.search:focus {
  border: none;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.12);
}

#text {
  border: none;
  color: @text;
}

#entry {
  background-color: @crust;
  padding: 12px;
}

#entry arrow {
  border: none;
  color: @lavender;
}

#entry:selected {
  border: 0.11em solid @lavender;
  border-radius: 4px;
}

#entry:selected #text {
  color: @mauve;
}
